/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

arrow-shape {
    border: solid;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 15px;
}

.red-arrow {
    color: red;
}

.yellow-arrow {
    color: yellow;
}

.green-arrow {
    color: green;
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left-arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up-arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down-arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: brown;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: brown;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: brown;
}
input:-moz-placeholder { /* Firefox 18- */
  color: brown;
}